<!-- Start: User Info Page  -->
<div class="h-100 d-flex justify-content-center align-items-center">

    <!-- Form Title  -->
    <div class="d-flex align-items-center flex-column py-5">
        <figure>
            <img src="assets/images/icon-thank-you.svg" alt="Thank">
        </figure>
        <h1 class="text-primary fw-bolder py-3"> Thank you! </h1>
        <div class="w-50">
            <div class="sub-title text-center"> Thank you for confriming your subscribtion! We hope you have fun using
                our platform. I cf
                you ever need support, feel free to email us at support@email.com </div>
        </div>
    </div>
</div>
<!-- End: User Info Page  -->