<!-- Start: User Info Page  -->
<div class="form-container">

    <!-- Form Title  -->
    <div class="form-title">
        <h1 class="text-primary"> Pick app-ons </h1>
        <span class="sub-title"> Add-ons help enhance your gaming experience. </span>
    </div>

    <!-- Form  -->
    <form [formGroup]="onsGroup" (ngSubmit)="onSubmit()">
        <div class="my-3">
            <label for="online" class="d-flex align-items-center justify-content-between p-4 rounded-4 border" role="button"
                [ngClass]="{'border-primary' : onsGroup.value.online}">
                <div class="d-flex align-items-center">
                    <input type="checkbox" name="online" id="online" value="online" class="form-check-input" formControlName="online">
                    <div class="d-flex flex-column ps-4">
                        <span class="text-primary"> Online Service </span>
                        <span class="sub-title"> Access to multiplayer games </span>
                    </div>
                </div>
                <span class="text-secondary"> {{duration ? '$10/yr' : '+$1/mo'}} </span>
            </label>
        </div>
        <div class="my-3">
            <label for="storage" class="d-flex align-items-center justify-content-between p-4 rounded-4 border" role="button"
                [ngClass]="{'border-primary' : onsGroup.value.storage}">
                <div class="d-flex align-items-center">
                    <input type="checkbox" name="storage" id="storage" value="storage" class="form-check-input" formControlName="storage">
                    <div class="d-flex flex-column ps-4">
                        <span class="text-primary"> Larger storage </span>
                        <span class="sub-title"> Extra 1TB of cloud save </span>
                    </div>
                </div>
                <span class="text-secondary"> {{duration ? '$20/yr' : '+$2/mo'}} </span>
            </label>
        </div>
        <div class="my-3">
            <label for="profile" class="d-flex align-items-center justify-content-between p-4 rounded-4 border" role="button"
                [ngClass]="{'border-primary' : onsGroup.value.profile}">
                <div class="d-flex align-items-center">
                    <input type="checkbox" name="profile" id="profile" value="profile" class="form-check-input" formControlName="profile">
                    <div class="d-flex flex-column ps-4">
                        <span class="text-primary"> Customizable Profile </span>
                        <span class="sub-title"> Custom theme on your profile </span>
                    </div>
                </div>
                <span class="text-secondary"> {{duration ? '$20/yr' : '+$2/mo'}} </span>
            </label>
        </div>
        <div class="d-flex justify-content-between pt-5">
            <span class="text-muted fw-semibold" role="button" (click)="onBack()">Go Back </span>
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="onCheck()"> Next Step </button>
        </div>
    </form>
</div>
<!-- End: User Info Page  -->