// Theme Colors
$primary                                    : #02295a;
$secondary                                  : #473dff;
$white                                      : #fff;
$success                                    : #1eca1a;
$danger                                     : #e43536;
$warning                                    : #ffc400;
$info                                       : #8d63d3;

// sidebar 
$step-color                                 :#9699ab;
$step-active-bg                             :#dff0ff;

// form 
$input-btn-focus-box-shadow                 : 0px 0px;
$input-focus-border-color                   : $secondary;
$form-label-color                           : $primary;
$form-check-input-checked-bg-color          : $secondary;