// Global styles goes here
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

html,body{
    height: 100%;
    overflow: hidden;
}

.sub-title{
    color: $step-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stepper-container{
  height: 700px;
  width: 1000px;

  @media (max-width:768px){
    width: 100%;
    height: auto;
  }
}

.fs-7{
  font-size: 0.8rem;
}