// All the SCSS Variables goes here

// font 
$font-family                            : 'Ubuntu', sans-serif;;

// sidebar 
$sidebar-width                          : 300px;

// forms 
$input-font-weight                      : 600;
$input-padding-y                        : 0.7rem;
$input-padding-x                        : 0.7rem;