<!-- Start: User Info Page  -->
<form class=" d-flex flex-column justify-content-between h-100" [formGroup]="infoGroup" (ngSubmit)="onSubmit()">
    <div>
        <!-- Form Title  -->
        <div class="form-title pb-5">
            <h1 class="text-primary"> Personal Info </h1>
            <span class="sub-title"> Please provide your name, email address and phone number. </span>
        </div>

        <!-- Form  -->

        <!-- Name Field  -->
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label for="fullName" class="form-label"> Name </label>
                <span class="text-danger fw-bold" *ngIf="getControls['fullName']?.errors?.['required'] 
                    && getControls['fullName'].touched"> This feild is required </span>
            </div>
            <input type="text" name="fullName" id="fullName" class="form-control"
                [ngClass]="{'border-danger' : getControls['fullName'].invalid && getControls['fullName'].touched}"
                formControlName="fullName" placeholder="eg. Stephen King">
        </div>

        <!-- Email Addess Feild  -->
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label for="mail" class="form-label"> Email Address </label>
                <span class="text-danger fw-bold" *ngIf="getControls['mail']?.errors?.['required'] 
                    && getControls['mail'].touched"> This feild is required </span>
            </div>
            <input type="email" name="mail" id="mail" class="form-control" formControlName="mail"
                [ngClass]="{'border-danger' : getControls['mail'].invalid && getControls['mail'].touched}"
                placeholder="eg. stephenking@loren.com">
        </div>

        <!-- Phone Number Field  -->
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label for="phone" class="form-label"> Phone Number </label>
                <span class="text-danger fw-bold" *ngIf="getControls['phone']?.errors?.['required'] 
                        && getControls['phone'].touched"> This feild is required </span>
            </div>
            <input type="number" name="phone" id="phone" class="form-control"
                [ngClass]="{'border-danger' : getControls['phone'].invalid && getControls['phone'].touched}"
                formControlName="phone" placeholder="eg. 9856324712">
        </div>


    </div>
    <!-- Buttons Functionality  -->
    <div class="d-flex justify-content-end pt-5 p-lg-0">
        <button class="btn btn-primary" type="submit" [disabled]="!infoGroup.valid"> Next Step </button>
    </div>
</form>
<!-- End: User Info Page  -->