#sidebar{
    flex: 0 0 $sidebar-width;
    background-image: url('~src/assets/images/bg-sidebar-desktop.svg');
    background-size: cover;
    
    @media (max-width: 992px){
        background-image: url('~src/assets/images/bg-sidebar-mobile.svg');
        background-color: black;
    }

    .menu{
        &-circle{
            width: 35px;
            height: 35px;
        }

        &-title{
            letter-spacing: 3px;
        }
    }
}

.step-active{
    background-color: $step-active-bg;
    color: $primary;
}